<script src="https://accounts.google.com/gsi/client" async></script>
<div class="page-wrapper">
    <div class="auth-bg">
        <div class="authentication-box">
            <div class="card mt-4">
                <div class="card-body">
                    <div class="text-center">
                        <h4>Bienvenido SHF App</h4>
                        <h5>LOGIN</h5>
                    </div>
                    <form class="theme-form" >
                        
                        <div class="social mt-3">
                            <div class="form-group btn-showcase d-flex">
                                <asl-google-signin-button type='icon' size='medium'></asl-google-signin-button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>