<!--
<mat-card>
  <mat-card-title>Carteras</mat-card-title>
  <mat-card-subtitle>Carteras activas</mat-card-subtitle>
</mat-card>
<br />
<mat-card>
  <app-list-cartera></app-list-cartera>
</mat-card>

-->

<div class="container">
  <div class="row">
    <div class="col-12 col-sm-4">
      <span class="lead">Comportamiento Individual</span>
      <p></p>
    </div>
    <!-- Force next columns to break to new line at md breakpoint and up -->
    <div class="w-100 d-none d-md-block"></div>
    <div class="col-12 col-sm-12">
      <mat-card>
        <app-list-cartera></app-list-cartera>
      </mat-card>
    </div>
  </div>
</div>
